<figure id="one-to-five" class="one-to-five">
    <figcaption class="visuallyhidden">Illustration done in code for the article: How I designed the fifth version of my website.</figcaption>
    <div class="grid">
        <div class="grid__child grid__child--half">
            <div class="grid">
                <div class="grid__child grid__child--half grid__child--half--sm">
                    <div class="number number--small">
                        <span>01</span>
                    </div>
                </div>
                <div class="grid__child grid__child--half grid__child--half--sm">
                    <div class="number number--small">
                        <span>02</span>
                    </div>
                </div>
                <div class="grid__child grid__child--half grid__child--half--sm">
                    <div class="number number--small">
                        <span>03</span>
                    </div>
                </div>
                <div class="grid__child grid__child--half grid__child--half--sm">
                    <div class="number number--small">
                        <span>04</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__child grid__child--half hidden-sm">
            <div class="number number--large">
                <span>05</span>
            </div>
        </div>
    </div>
</figure>