:root {
    --background-color: #FFFFFA;
    --background-darker: #D8D7CF;
    --foreground-color: #154734;
    --border-size: 1.5px;
}

html {
    background: var(--background-color);
    color: var(--foreground-color);
}

body {
    padding: 20px;
}