<section id="faq">
    <h5 class="common--text-label">If you're wondering</h5>
    <ul class="faqs">
        <li>
            <details class="faq">
                <summary><b>What I actually do</b></summary>
                <p>At a fundamental level, my design work involves using visual software like <a href="https://figma.com" target="_blank">Figma</a> to create user interfaces for web and mobile. Because I'm also quite familiar with frontend development, I can write the code to bring these interfaces to life. In addition, product design requires me to have good knowledge of my company's domain (finance and payments) and a decent grasp of user research. In the past I've done all this work solo, but now I lead a design team made up of incredible people who do this work, while I interface with the business and support them.</p>
            </details>
        </li>
        <li>
            <details class="faq">
                <summary><b>My professional work history</b></summary>
                <p>I started out as a graphic designer in 2009 and eventually picked up web design in 2012. I started out making static websites and in 2014 I joined my first company Cart.ng—now defunct—as a web designer. Later that year, I moved to <a href="https://fieldinsight.co" target="_blank">Delivery Science</a> where I fully learnt the ropes of frontend development and creating web applications. My job at DS lasted for two years, after which I joined the founders of <a href="https://paystack.com" target="_blank">Paystack</a>, Shola and Ezra, to build out the company from San Francisco in 2016. I was solely responsible for the entire front-end experience across all our products for more than a year, hired a few hands to help soon after, and now I lead a team of six.</p>
            </details>
        </li>
        <li>
            <details class="faq">
                <summary><b>What I've built</b></summary>
                <p>At Paystack, I've worked on products like the merchant dashboard, <a href="https://medium.com/paystack/introducing-paystack-go-c9dffdfd2b7d" target="_blank">Paystack Go</a>, <a href="https://paystack.com/blog/product/coming-soon-the-new-paystack-checkout-form" target="_blank">Checkout form</a> and more. Asides my professional work, I've also done freelance work as part of the collective <a href="https://helloworld.ng" target="_blank">Helloworld</a>, which is mostly myself and <a href="https://timigod.xyz" target="_blank">Timi Ajiboye</a>. Together, we've built things like the <a href="https://bot.eatdrinklagos.com/" target="_blank">Eat Drink Bot</a>— a chat bot for food recommendations, <a href="https://tix.com.ng/buy/eatdrinkfestival-presented-by-sterling-bank" target="_blank">Tix</a>— a simple event ticketing app, <a href="https://cruncherapp.co" target="_blank" >Cruncher</a>— a web app for exploring bank statements, and quite a few more.</p>
            </details>
        </li>
        <li>
            <details class="faq">
                <summary><b>I'm not available for freelance work</b></summary>
                <p>Most of the early part of my year will spent figuring out how to build a great design team, so I'm unavailable to take on any new projects, either solo or with Helloworld. However, I may be open to mentoring and teaching, so if you're trying to find out about that, kindly email me at <a href="mailto:opemipoaikomo@gmail.com">opemipoaikomo@gmail.com</a></p>
            </details>
        </li>
    </ul>
</section>

<script src="/assets/js/details-element-polyfill.js"></script>