<section id="faq">
    <h5 class="common--text-label">If you're wondering</h5>
    <ul class="faqs">
        <li>
            <details class="faq">
                <summary><b>What I actually do</b></summary>
                <p>At a fundamental level, my job involves using visual software like <a href="https://figma.com" target="_blank">Figma</a> to create user interfaces for web and mobile. But to do my job well, I layer on skills like writing, animation, a decent grasp of user research, and good knowledge of the company's domain.</p>
                <p>I'm also familiar with frontend development, so I can write the code to bring these interfaces to life for people to use.</p>
                <p>Recently however, rather than perform these roles directly like I used to, I now support a team of people to do the work as well as interface with the business.</p>
            </details>
        </li>
        <li>
            <details class="faq">
                <summary><b>My professional work history</b></summary>
                <p>I started out as a graphic designer in 2009 and eventually picked up web design in 2012. I started out making static websites and in 2014 I joined my first company Cart.ng—now shut down—as a web designer. Later that year, I moved to <a href="https://fieldinsight.co" target="_blank">Delivery Science</a> where I fully learnt the ropes of frontend development and creating web applications.</p>
                <p>My job at DS lasted for two years, after which I joined the founders of <a href="https://paystack.com" target="_blank">Paystack</a>, Shola and Ezra, to build out the company from San Francisco in 2016. I was solely responsible for the entire front-end experience across all our products for more than a year.</p>
                <p>Three years later, we've now hired capable hands to help and I get to specialize as a product designer and lead a team of six.</p>
            </details>
        </li>
        <li>
            <details class="faq">
                <summary><b>What I've built</b></summary>
                <p>I've worked on almost every web application offered by Paystack to customers, products such as the <a href="https://dashboard.paystack.com" target="_blank">merchant dashboard</a>, the <a href="https://paystack.com" target="_blank">website</a>, the progressive web app <a href="https://medium.com/paystack/introducing-paystack-go-c9dffdfd2b7d" target="_blank">Paystack Go</a>, the <a href="https://paystack.com/blog/product/coming-soon-the-new-paystack-checkout-form" target="_blank">Checkout form</a> and more.</p>
                <p>I've also done freelance work as part of the collective <a href="https://helloworld.ng" target="_blank">Helloworld</a>, which is mostly myself and <a href="https://timiajiboye.com/" target="_blank">Timi Ajiboye</a>.</p>
                <p>Together, we've built things like the <a href="https://bot.eatdrinklagos.com/" target="_blank">Eat Drink Bot</a>— a chat bot for food recommendations, <a href="https://tix.com.ng/buy/eatdrinkfestival-presented-by-sterling-bank" target="_blank">Tix</a>— a simple event ticketing app, <a href="https://cruncherapp.co" target="_blank">Cruncher</a>— a web app for exploring bank statements, the website and app for coworking space <a href="https://workstationng.com" target="_blank">Workstation</a> amongst others.</p>
            </details>
        </li>
        <li>
            <details class="faq">
                <summary><b>I'm not available for freelance work</b></summary>
                <p>I plan to spend the early part of my year figuring out how to build a great design team, so I'm unavailable to take on any new projects, either solo or with Helloworld. However, I may be open to mentoring and teaching, so if you're trying to find out about that, kindly email me at <a href="mailto:opemipoaikomo@gmail.com">opemipoaikomo@gmail.com</a></p>
            </details>
        </li>
    </ul>
</section>

<script src="/assets/js/details-element-polyfill.js"></script>