<section id="currently-digging">
    <div class="bounds">
        <div class="flex">
            <div class="flex__child">
                <div class="disc">
                    <div class="disc__content">
                        <div class="disc-text disc-text--lg serif">
                            <span>East Atlanta Love Letter</span>
                        </div>
                        <div class="disc-text">
                            <span>Loaded Gun J.Cole</span>
                        </div>
                        <div class="disc-text disc-text--lg serif">
                            <span>Coltrane Malibu Sleep</span>
                        </div>
                        <div class="disc-text">
                            <span>Khalid Location</span>
                        </div>
                        <div class="disc__center"></div>
                    </div>
                </div>
            </div>
            <div class="flex__child">
                <div class="currently-digging">
                    <p>I curate a playlist of songs that I have on repeat at the moment. This is usually my go-to happy playlist, and you're very welcome to follow or listen in.</p>
                    <h5 class="serif">Currently Digging</h5>
                    <a target="_blank" href="https://open.spotify.com/user/1269299326/playlist/0VOvz7DiZqKU7aTRj9HYRV?si=7xTKTlqoQSe5NRnzha1L5g">
                        <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.0847168 0.59877C0.0850588 0.513943 0.107252 0.430691 0.149076 0.357344C0.1909 0.283996 0.250891 0.223127 0.323049 0.180811C0.395207 0.138494 0.477004 0.116217 0.560262 0.116211C0.64352 0.116204 0.72532 0.138466 0.797485 0.180771L11.6802 6.58198C11.7518 6.62472 11.8111 6.68579 11.8523 6.75912C11.8936 6.83245 11.9153 6.91549 11.9153 7C11.9153 7.08451 11.8936 7.16756 11.8523 7.24089C11.8111 7.31422 11.7518 7.37528 11.6802 7.41802L0.797485 13.8192C0.72532 13.8615 0.64352 13.8838 0.560262 13.8838C0.477004 13.8838 0.395207 13.8615 0.323049 13.8192C0.250891 13.7769 0.1909 13.716 0.149076 13.6427C0.107252 13.5693 0.0850588 13.4861 0.0847168 13.4012V0.59877ZM1.03739 1.43834V12.5617L10.4946 7L1.03739 1.43834Z" fill="black"/>
                        </svg>
                        <b>Play on Spotify</b>                                
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>