<ul>
  <li>
    <a href="#">
      <h3>New website</h3>
    </a>
    <p>I documented the process of making this website: learning CSS grids and web components only to end up with a much simpler layout than originally planned.</p>
  </li>
  <li>
    <a href="#">
      <h3>@ori.igo</h3>
    </a>
    <p>I commisioned my artist friend Doyin Shotunde to paint a mural in my apartment, then made an Instagram page for it with a cheeky backstory.</p>
  </li>
  <li>
    <a href="#">
      <h3>UX Learning Guide</h3>
    </a>
    <p>Im curating a list of personal recommendations for learning UX design. Its my answer to “I want to learn to UX design but I dont know how to start“.</p>
  </li>
  <li>
    <a href="#">
      <h3>Timeline Expert</h3>
    </a>
    <p>If shown a random tweet on your timeline, can you correctly guess who posted it? Timi and I built a fun trivia game for this.</p>
  </li>
</ul>