<ul>
  <li>
    <a href="#">
      <h3>Building v6</h3>
    </a>
    <p>This website is a work-in-progress. I'm satisfied with content and styling but I want to add some interactivity.</p>
  </li>
  <li>
    <a href="#">
      <h3>@ori.igo</h3>
    </a>
    <p>I commisioned my artist friend Doyin Shotunde to paint a mural in my apartment, then made an Instagram page for it with a cheeky backstory.</p>
  </li>
  <li>
    <a href="#">
      <h3>UX Learning Guide</h3>
    </a>
    <p>I'm curating a list of personal recommendations for learning UX design. Its my answer to “I want to learn to UX design but I dont know how to start“.</p>
  </li>
  <li>
    <a href="#">
      <h3>Timeline Expert</h3>
    </a>
    <p>Timi and I built a fun trivia game for guessing who shared a tweet on your timeline without seeing the handle.</p>
  </li>
</ul>