<section id="journal">
    <div class="bounds">
        <div class="journal">
            <div class="journal__introduction">
                <figure class="journal__image">
                    <img alt="Illustration of a journal" src="/assets/images/journal.png">
                </figure>
                <div class="journal__about">
                    <p>I keep a blog where I write about my life and express my thoughts.</p>
                    <p><b><a href="https://medium.com/fathermerry">medium.com/fathermerry</a></b></p>
                </div>
            </div>
            <div class="journal__recent">
                <header>
                    <hr>
                    <h5 class="common--text-label">I most recently wrote</h5>
                </header>{% assign post = site.data.journal[0] %}
                <article class="journal__post">
                    <p><b><a href="{{ post.url }}">{{ post.title }}</a></b></p>
                </article>
            </div>
        </div>
    </div>
</section>