.flex {
	display: flex;
	&__child {
		&--fluid {
			flex: 1;
		}
	}
	@media all and (max-width: 640px) {
		display: block;
	}
}

.bounds {
    position: relative;
    @media all and (min-width: 640px) {
        max-width: 1150px;
		margin: 0 auto;
		padding: 0 20px;
		&--sm {
			max-width: 900px;
		}
    }
}