@font-face {
    font-family: 'Founders Grotesk';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('Founders Grotesk'),
        url('/assets/fonts/FoundersGroteskWeb-Regular.woff2') format('woff2'), 
        url('/assets/fonts/FoundersGroteskWeb-Regular.woff') format('woff');
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'Founders Grotesk';
    font-style: bolder;
    font-weight: 600;
    font-display: auto;
    src: local('Founders Grotesk'),
        url('/assets/fonts/FoundersGroteskWeb-Medium.woff2') format('woff2'), 
        url('/assets/fonts/FoundersGroteskWeb-Medium.woff') format('woff');
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: 'Bianco Serif';
    font-style: bold;
    font-weight: 700;
    font-display: auto;
    src: local('Bianco Serif'),
        url('/assets/fonts/BiancoSerif-Bold.woff2') format('woff2'), 
        url('/assets/fonts/BiancoSerif-Bold.woff') format('woff');
    unicode-range: U+000-5FF;
}

.serif {
    font-family: 'Bianco Serif', serif;
    letter-spacing: -0.07em;
}

p {
    font-family: 'Founders Grotesk', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h1 {
    font-size: 4.2rem;
    @media all and (max-width: 640px) {
        font-size: 3.8rem;
    }
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

b, strong {
    font-weight: 500;
}

a {
    color: inherit;
    &:hover {
        color: #CF4A4A;
        text-decoration: none;
    }
    &:focus, &:active {
        text-decoration: underline;
    }
}

.common--text {
    &-label {
        position: relative;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0;
    }
}