<figure class="avatar">
  <img src="/assets/images/2021.jpeg" alt="Opemipo Aikomo in May 2021">
</figure>
<article>
  <p>My name is <a href="/name">Opemipo Aikomo</a>.</p>
  <p>I was born in Lagos, Nigeria. I grew up in Liasu with my parents and two siblings, moved around for school and ended up studying Computer Engineering at Obafemi Awolowo University.</p>
  <p>I'm a self-taught web and software designer. I make things and tell stories on the internet. My most recent project is a collection of publishing experiments called <a href="https://wuruwuru.com/about" target="_blank">Wuruwuru</a>.</p>
  <p>The internet quite literally saved my life. Many of my personal and professional relationships were made on Twitter and I consider myself a first-citizen of the web.</p>
  <p>I'm very curious and always excited to learn. I love design, typography, history, comics, animation, archiving, mixology, psychology, economics, art and technology in general.</p>
  <p>I try to be as many things as I can.</p>
</article>