<div class="prose">
  <p>Profiles are hard because personalities are fragmented. I consider myself a collage of my Nigerian upbringing, Internet life and travel experiences, so it's hard to cut a slice that defines me satisfactorily.</p>
  <p>But the essence of a profile is maybe not to exhaustively describe a person, but to tell a simple story that sets an expectation for the reader.</p>
  <p>I like design, storytelling, craft, history, archives, psychology, economics, art, the web and technology. I'm fascinated by life, people and the process of doing things with great detail.</p>
  <p>I tend to take things seriously, although I don't think anything is <i>that</i> serious. It's just... there's pleasure for me in doing things with intention.</p>
  <p>I'm curious about a lot and I'm usually learning multiple things at a time. I suck at a lot of them, but sometimes it's the process, right?</p>
  <p>I like to dance and I play tennis and football casually. I enjoy newness; places, things and people. I like to <a href="https://medium.com/@fathermerry">write</a>, very much.</p>
  <p>I'm trying to be as many things as I can.</p>
  <small>END</small>
</div>