<p>I'm a self-taught web and UX designer from Lagos, Nigeria. I build experiences for the web.</p>
<p>I have one too many interests and I spend an <i>almost</i> unhealthy amount of time scavenging the internet. Design, craft and well-told stories fascinate me.</p>
<p>I work at <a href="#">Paystack</a>; we build software for accepting online payments in Africa. I started with the company in 2016 and still direct product design and communications today.</p>
<p>I'm usually @fathermerry on the internet. I like to <a href="#">write</a> and I try to take interesting <a href="#">pictures</a>.</p>