<article>
  <h2>How far.</h2>
  <p>My name is Opemipo Aikomo. I'm a he/him from Nigeria. I design software, websites and things that work on the internet. I also write and tell stories. Most people call me <a href="/name">Ope</a>.</p>
</article>
<ul class="list">
  <li><a class="button" href="/about">About</a></li>
  <li><a class="button" href="/projects">Projects</a></li>
  <li><a class="button" href="/work">Work</a></li>
  <li><a class="button" href="/playlists">Playlists</a></li>
  <li><a class="button" href="/contact">Contact</a></li>
</ul>