<ul>
  <li class="highlight">
    <h3>Building v6</h3>
    <p>This version of my website is a work-in-progress. I've been writing notes on the process of putting it together.</p>
    <a class="ext-link" target="_blank" href="https://wuruwuru.com/v6/">wuruwuru.com/v6</a>
  </li>
  <li class="highlight">
    <h3>@ori.igo</h3>
    <p>I commissioned an artist friend to paint a mural in my shared apartment then made an Instagram page for it.</p>
    <a class="ext-link" target="_blank" href="https://www.instagram.com/ori.igo/">instagram.com/ori.igo</a>
  </li>
  <li class="highlight">
    <h3>UX Learning Guide</h3>
    <p>I'm curating a list of books and articles to guide anyone looking to learn UX design. It's what I wish existed when I started.</p>
    <a class="ext-link" target="_blank" href="https://wuruwuru.com/ux/">wuruwuru.com/ux</a>
  </li>
  <li class="highlight">
    <h3>Timeline Expert</h3>
    <p><a href="https://helloworld.ng">Timi and I</a> built a trivia game for Twitter: can you guess who posted a tweet to your timeline without seeing the handle?</p>
    <a class="ext-link" target="_blank" href="https://timeline.expert">timeline.expert</a>
  </li>
</ul>