<ul>
  <li class="highlight">
    <h3>Building v6</h3>
    <p>Notes on putting my website together.</p>
    <a class="ext-link" target="_blank" href="https://wuruwuru.com/v6/">wuruwuru.com/v6</a>
  </li>
  <li class="highlight">
    <h3>@ori.igo</h3>
    <p>Instagram page for Doyin's mural.</p>
    <a class="ext-link" target="_blank" href="https://www.instagram.com/ori.igo/">instagram.com/ori.igo</a>
  </li>
  <li class="highlight">
    <h3>UX Learning Guide</h3>
    <p>Work-in-progress guide for learning UX design.</p>
    <a class="ext-link" target="_blank" href="https://wuruwuru.com/ux/">wuruwuru.com/ux</a>
  </li>
  <li class="highlight">
    <h3>Timeline Expert</h3>
    <p>Guess the username behind random tweets</p>
    <a class="ext-link" target="_blank" href="https://timeline.expert">timeline.expert</a>
  </li>
  <li>
    <small>END</small>
  </li>
</ul>
