<article>
  <h2>[ɔ-k͡pɛ]</h2>
  <p>My full name is Onaopemipo Aikomo.</p>
  <p><i>Onaopemipo</i> means "I have many reasons to thank god" and <i>Aikomo</i> translates to "we don't reject children". They're both <a href="https://en.wikipedia.org/wiki/Yoruba_people" target="_blank" rel="noopener noreferrer">Yoruba</a> names from Western Nigeria.</p>
  <p>Most people call me <i>Ope</i>. The letter "p" in Yoruba is a <a href="https://en.wikipedia.org/wiki/Labial%E2%80%93velar_consonant" target="_blank" rel="noopener noreferrer">labial-velar consonant</a> so it's pronounced "or-kpe".</p>
</article>
<div>
  <a class="button" href="javascript:history.back()">Back</a>
</div>