<details style="margin-bottom: 60px;">
  <summary>Jump to</summary>
  <ul>
    <li><a href="#paystack">Paystack</a></li>
    <li><a href="#delivery-science">Delivery Science</a></li>
    <li><a href="#helloworld">Helloworld</a></li>
    <li><a href="#devcenter">Devcenter</a></li>
  </ul>
</details>
<article id="paystack">
  <h3>Paystack</h3>
  <p>I currently direct the Design team at Paystack. My job is to set expectations, encourage ownership, drive collaboration, invent and maintain systems for designers to do high quality work.</p>
  <p>I joined Shola Akinlade and Ezra Olubi in 2015 to build the first version of the brand, website and product. I've been stuck here since. I've worked in multiple roles and built very good context and intuition about the product. In 2020, the company was acquired by Stripe.</p>
  <p>Paystack is by far one of the best experiences of my life. The company values are a compass for my personal life, the people are kind but critical, the work is meaningful and my role is constantly evolving. Most importantly, I have the support and autonomy to invent things.</p>
  <p>
    <a href="https://paystack.com/about">paystack.com/about</a>
  </p>
</article>
<article id="delivery-science">
  <h3>Delivery Science</h3>
  <p>In early 2014, I joined Lanre Oyedotun at Chronos as a web designer. A few months later, he quit consulting to build and sell logistics software with Chuka Ofili and Ezra Olubi. They rebranded the company to Delivery Science.</p>
  <p>Lanre encouraged us to learn by doing. Angular JS. Version control. Node. Sails. Microservices. Container architecture. Everybody was learning everything. We were often working on multiple things at a time, so we tried new things on different products.</p>
  <p>Ezra and I left DS for Paystack at the end of 2015. Three of our friends/colleagues—Seike Ibojo, Loknan Nanyaks and Shope Johnson—also joined us later.</p>
  <p>DS was a very formative experience for me. I learnt how to do good work fast while learning. I got a well-rounded education in product development. I also learnt how to run a team.</p>
  <p>Unfortunately, the company didn't make it.</p>
  <p>
    <a href="https://www.fieldinsight.co/">fieldinsight.co</a>
  </p>
</article>
<article id="helloworld">
  <h3>Helloworld</h3>
  <p>In 2014, Timi Ajiboye and I started working together as Helloworld. For the next four years, we made digital products for clients and small experiments of our own.</p>
  <p>Helloworld was also a collective. On large projects, we hired friends like Onyekachi Mbaike, Lolu Bodunwa, Segun Famisa, Efe Money e.t.c. to help.</p>
  <p>Timi now leads BuyCoins and is building Backdrop. We no longer run Helloworld but we both still value and hire independent creators in our separate careers.</p>
  <p>
      <a href="https://helloworld.ng/">helloworld.ng</a><br>
      <a href="https://timiajiboye.com/">timiajiboye.com</a>
  </p>
</article>
<article id="devcenter">
  <h3>Devcenter</h3>
  <p>In 2013, I started a database of Nigerian designers called Curation. It didn't go far, but in the process I founded Devcenter with Akin Falomo, Seun Awoyele and Kolawole Balogun.</p>
  <p>At first, Devcenter was a site for sharing side projects. Slowly, it started to evolved into a community. I worked on it for two years until I joined Paystack.</p>
  <p>Under Akin's direction, Devcenter is now a community of 12,000+ software developers, creatives and technology professionals.</p>
  <p><a href="https://www.devcenter.co/">devcenter.co</a></p>
</article>