<div class="prose">
  <p>I'm a self-taught web and UX designer from Lagos, Nigeria. I build experiences on the internet.</p>
  <p>I have a multi-disciplinary approach to design and tend to apply logic and taste broadly to solve a variety of problems, especially at <a href="#">Paystack</a> where I work. We build software for online payments in Africa.</p>
  <p>When we started in 2016, I was solely responsible for all customer-facing experiences. Now I direct product design, oversee communications and manage a few teams.</p>
  <p>Besides my day job, I occasionally build side <a href="https://www.notion.so/fee84c8a2821422b9a67b774678c026d?v=117edfc173a1456d9e3dcddfd5f7361e">projects</a>, ranging from commercial websites and apps to simple web games.</p>
  <small>END</small>
</div>