<div class="prose">
  <h3 class="" id="b110f8bc-c659-48c5-ac46-ad3dfbbfb737">Design Director at Paystack</h3>
  <p class="" id="df4f18b3-0219-4c27-9670-27f320cebcae">My job at Paystack is to set expectations, encourage ownership, drive collaboration, invent and maintain systems for designers to do high quality work.</p>
  <p class="" id="d26a8517-cecc-430f-870f-98608fda0551">I joined Shola Akinlade and Ezra Olubi in 2015 to build the first version of the brand, website and product and I&#x27;ve been stuck here since. In 2020, the company was acquired by Stripe.</p>
  <p class="" id="e9b67613-0c2b-4fc0-a742-5618217b17dc">I&#x27;ve worked in multiple roles at Paystack and have very good context and intuition about the product. I&#x27;m able to articulate problems and come up with solutions quickly.</p>
  <p class="" id="cdffa6cf-0fb2-4df2-92b5-029425e61112">Paystack is by far one of the best experiences of my life. The company values are a compass for my personal life, the people are kind but critical, the work is meaningful and my role is constantly evolving. Most importantly, I have the support and autonomy to invent things.</p>
  <ul class="bulleted-list" id="553a0569-f511-4b9a-86c7-b378ba6f7218">
    <li>
      <a href="https://paystack.com/about">paystack.com/about</a>
    </li>
  </ul>
  <p class="" id="e931a22c-d51c-4e7e-887d-5cd066088490"></p>
  <h3 class="" id="a02294ad-dccc-484e-9cc9-76fe73cba6d0">Delivery Science</h3>
  <p class="" id="8637ade7-779e-44d2-8b03-2917fbef3d21">In early 2014, I joined Lanre Oyedotun at Chronos as a web designer. A few months later, he rebranded the company to Delivery Science and teamed up with Chuka Ofili and Ezra Olubi. The plan was to quit consulting to build and sell logistics software later called FieldInsight.</p>
  <p class="" id="7e28fbc1-ffda-41d1-8ec0-2fcfda103ba1">We built our MVP quickly but couldn&#x27;t get customers. Just to get in the door, we often had to build variants of the product or solve entirely different problems for decision makers. When we ran out of money, we resorted to consulting.</p>
  <p class="" id="af6b17bf-c5d6-43bf-9f83-7dcda97adefe">Lanre encouraged us to learn by doing and that&#x27;s what we all did. Angular JS. Version control. Node. Sails. Microservices. Container architecture. Everybody was learning everything. We were often working on multiple things at a time, so we tried new things on different products.</p>
  <p class="" id="8d3ab01f-9c4e-4d2e-be3f-05b22530dfa2">We were a little prone to over-engineering, but it was a great learning environment.</p>
  <p class="" id="bd281989-475f-4968-9bea-f3146f4e7d1a">Ezra and I left DS for Paystack at the end of 2015. Three of our friends/colleagues—Seike Ibojo, Loknan Nanyaks and Shope Johnson—also joined us later.</p>
  <p class="" id="2bc3a9b4-417a-420a-b23f-d8108ed82fb4">DS was a very formative experience for me. I learnt how to do good work fast while also learning. I got a well-rounded education in product development. I also learnt how to build team spirit.</p>
  <p class="" id="c3d5eb3b-66c4-4f90-af65-fa2a416ca669">Unfortunately, the company didn&#x27;t make it.</p>
  <ul class="bulleted-list" id="112080a4-6acd-4eb3-a00c-4a03912ab75e">
    <li>
      <a href="https://www.fieldinsight.co/">fieldinsight.co</a>
    </li>
  </ul>
  <p class="" id="8411906a-9c36-4333-9c30-fef87604980f"></p>
  <h3 class="" id="c6ee3e4e-0b3c-4717-b01a-e273c80527e0">Helloworld</h3>
  <p class="" id="082e43ac-fd11-4961-bace-7240da434d50">In 2014, Timi Ajiboye and I started working together as Helloworld. For the next four years, we made digital products for clients and small experiments of our own.</p>
  <p class="" id="5d8311e0-4afc-43ce-8d50-91e2be5c8a48">Helloworld was also a collective. On large projects, we hired friends like Onyekachi Mbaike, Lolu Bodunwa, Segun Famisa, Efe Money e.t.c. to help.</p>
  <p class="" id="79b7867a-fb2f-416e-bc75-d387997e8364">Timi now leads BuyCoins and is building Backdrop. We no longer run Helloworld but we both still value and hire independent creators in our separate careers.</p>
  <ul class="bulleted-list" id="0548df0c-ce63-41f6-8ed3-0c8f3eb1fec2">
    <li>
      <a href="https://helloworld.ng/">helloworld.ng</a>
    </li>
  </ul>
  <ul class="bulleted-list" id="d986bd7f-19a3-438a-93b2-4ad49e1f9923">
    <li>
      <a href="https://timiajiboye.com/">timiajiboye.com</a>
    </li>
  </ul>
  <p class="" id="2fe95fb6-46fd-48d2-a2b6-a6260c63c71a"></p>
  <h3 class="" id="1a6c4f77-a7cd-4356-8f60-6cfcde2b614b">Devcenter</h3>
  <p class="" id="f2a2b657-a864-4c67-8a79-f15e768f6c60">In 2013, I started a database of Nigerian designers called Curation. It didn&#x27;t go far, but in the process I founded Devcenter with Akin Falomo, Seun Awoyele and Kolawole Balogun.</p>
  <p class="" id="044dbe11-c296-4f60-84db-03db1635c4fd">At first, Devcenter was a site for sharing side projects. Slowly, it started to evolved into a community. I worked on it for two years until I joined Paystack.</p>
  <p class="" id="c9d2877e-ef34-4acb-84fc-b0fc4be1fe1e">Under Akin&#x27;s direction, Devcenter is now a community of 12,000+ software developers, creatives and technology professionals.</p>
  <ul class="bulleted-list" id="e6bbe17e-1469-4bbf-b475-f98a05e3d3ae">
    <li>
      <a href="https://www.devcenter.co/">devcenter.co</a>
    </li>
  </ul>
</div>
