:root {
    --background-color: #FFFFFA;
    --background-darker: #D8D7CF;
    --foreground-color: #154734;
    --border-size: 1.5px;
    --font-size-p: 1em;
    --font-size-h4: 1.25em;
    --font-size-h3: 1.563em;
    --font-size-h2: 1.953em;
    --font-size-h1: 2.441em;
}

html {
    background: var(--background-color);
    color: var(--foreground-color);
}