@font-face {
    font-family: 'Söhne Book';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fonts/soehne-web-buch.woff');
}

@font-face {
    font-family: 'Söhne Book';
    font-weight: normal;
    font-style: italic;
    src: url('/assets/fonts/soehne-web-buch-kursiv.woff');
}

@font-face {
    font-family: 'Söhne Bold';
    font-weight: bold;
    src: url('/assets/fonts/soehne-web-kraftig.woff');
}

@font-face {
    font-family: 'Söhne Semibold';
    font-weight: normal;
    src: url('/assets/fonts/soehne-web-halbfett.woff');
}

@font-face {
    font-family: 'Söhne Wide';
    font-weight: normal;
    src: url('/assets/fonts/soehne-breit-web-kraftig.woff');
}


/* System Fonts as used by GitHub */
body {
    font-size: 16px;
    font-family: 'Söhne Book', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5 {
    margin: 0 0 .5rem;
    font-family: 'Söhne Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

p {
    font-size: var(--font-size-p);
    line-height: 1.4;

    &:first-child {
        margin-top: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.ext-link {
    background-image: linear-gradient(to right, #2D3137 0%, transparent 50%);
    background-position: 0 1.05em;
    background-repeat: repeat-x;
    background-size: 4px 2px;
    &:hover {
        background-image: linear-gradient(to right, #CF4A4A 0%, transparent 50%);
    }
}

.small-caps {
    -moz-font-feature-settings: "c2sc", "smcp";
    -ms-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";
}