.one-to-five {
    position: relative;
    overflow: hidden;
    > div {
        transform: translateY(-50px);
    }
    .number {
        span {
            color: white;
            -webkit-text-stroke: 2px #e5e5e5;
            vertical-align: top;
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 600;
        }
        &--small {
            height: 95px;
            span {
                font-size: 14rem;
                line-height: 95px;
            }
        }
        &--large {
            height: 190px;
            span {
                font-size: 28rem;
                letter-spacing: -10px;
                line-height: 190px;
            }
        }
    }
}