<template id="template-bookmark">
    <style>
        .bookmark {
            position: relative;
            width: 150px;
            height: 360px;
            color: var(--foreground-color);
            padding: 30px;
            text-decoration: none;
            display: grid;
            grid-template-rows: auto 30px;
            grid-template-areas:
                "logo"
                "link";
            justify-content: center;
        }

        .bookmark img {
            grid-area: logo;
            width: 100px;
        }

        .bookmark span {
            grid-area: link;
            line-height: 30px;
        }
    </style>
    <a class="bookmark"></a>
</template>
<script>
    class StickyBookmark extends HTMLElement {
        constructor() {
            super();

            const { content } = document.getElementById('template-bookmark');
            const htmlContent = content.cloneNode(true);
            const shadowRoot = this.attachShadow({ mode: 'open' });
            shadowRoot.appendChild(htmlContent);

            const text = this.getAttribute('text');
            const url = this.getAttribute('url');
            const image = this.getAttribute('image');
            const element = shadowRoot.querySelector('.bookmark');
            if (text && url) {
                element.innerHTML = text;
                element.setAttribute('href', url);
            }
            if (image) {
                const bookmarkImage = document.createElement('img');
                bookmarkImage.setAttribute('src', image);
                element.appendChild(bookmarkImage);
            }
        }
    }

    customElements.define('sticky-bookmark', StickyBookmark);
</script>