<template id="template-note">
    <style>
        .note {
            display: block;
            position: relative;
            width: 210px;
            height: 210px;
            background: #fffffa;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            padding: 30px;
            text-decoration: none;
            color: #2D3137;
        }

        .note:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: solid 1px #2D3137;
            transition: all 0.3s;
        }
    </style>
    <figure>
        <a class="note"></a>
    </figure>
</template>
<script>
    class StickyNote extends HTMLElement {
        constructor() {
            super();

            const { content } = document.getElementById('template-note');
            const htmlContent = content.cloneNode(true);
            const shadowRoot = this.attachShadow({ mode: 'open' });
            shadowRoot.appendChild(htmlContent);

            const text = this.getAttribute('text');
            const url = this.getAttribute('url');
            if (text && url) {
                const element = shadowRoot.querySelector('.note');
                element.innerHTML = text;
                element.setAttribute('href', url);
            }
        }
    }

    customElements.define('sticky-note', StickyNote);
</script>