<template id="template-note">
    <style>
        .note {
            display: block;
            position: relative;
            width: 210px;
            height: 210px;
            font-family: 'Bluu Next';
            color: var(--foreground-color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--font-size-h4);
            line-height: 1.4;
            text-align: center;
            padding: 30px;
            text-decoration: none;
        }
    </style>
    <a class="note"></a>
</template>
<script>
    class StickyNote extends HTMLElement {
        constructor() {
            super();

            const { content } = document.getElementById('template-note');
            const htmlContent = content.cloneNode(true);
            const shadowRoot = this.attachShadow({ mode: 'open' });
            shadowRoot.appendChild(htmlContent);

            const text = this.getAttribute('text');
            const url = this.getAttribute('url');
            if (text && url) {
                const element = shadowRoot.querySelector('.note');
                element.innerHTML = text;
                element.setAttribute('href', url);
            }
        }
    }

    customElements.define('sticky-note', StickyNote);
</script>