<template id="template-wordmark">
    <style>
        .wordmark {
            display: inline-block;
            /* font-size: 1.8em; */
            background: var(--background-color);
            font-weight: bold;
        }
    </style>
    <div class="wordmark">
        opemipo aikomo
    </div>
</template>
<script>
    class WordMark extends HTMLElement {
        constructor() {
            super();
            const { content } = document.getElementById('template-wordmark');
            const shadowRoot = this.attachShadow({ mode: 'open' });
            shadowRoot.appendChild(content.cloneNode(true));
        }
    }

    customElements.define('word-mark', WordMark);
</script>