.biodata {
  margin-bottom: 6rem;
  position: sticky;
  top: 0;
  li {
    height: 6rem;
    line-height: 6rem;
    &:not(:last-child) {
      border-bottom: solid 2px var(--foreground-color);
    }
    span {
      font-family: 'Söhne Wide', sans-serif;
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 1px;
    }
    span:last-child {
      float: right;
    }
  }
}