.highlight {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  li:not(:last-child) {
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .prose & {
      font-size: 1.8rem;
    }
  }
  a {
    background-image: linear-gradient(to right, #2D3137 0%, transparent 50%);
    background-position: 0 1.2em;
    background-repeat: repeat-x;
    background-size: 4px 2px;
    &:hover {
        animation: flicker .7s infinite;
    }
  }
}

@keyframes flicker {
  0%, 60% { background-image: linear-gradient(to right, #2D3137 0%, transparent 0%); }
  61% { background-image: linear-gradient(to right, #2D3137 0%, transparent 50%); }
}