.highlight {
  &:not(:last-child) {
    margin-bottom: 5rem;
  }
  h3 {
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  a.ext-link {
    font-family: "Söhne Wide", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
  }
}

@keyframes flicker {
  0%, 60% { background-image: linear-gradient(to right, #2D3137 0%, transparent 0%); }
  61% { background-image: linear-gradient(to right, #2D3137 0%, transparent 50%); }
}