.nav {
  &__text {
    &--uppercase {
      font-family: 'Söhne Wide';
      font-size: 1.1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    &--italics {
      font-family: 'Söhne Book';
      font-size: 1.5rem;
      font-style: italic;
    }
    &--bold {
      font-family: 'Söhne Semibold';
      font-size: 1.6rem;
    }
    &--large {
      font-size: 2.4rem;
      line-height: 1;
    }
  }
  li {
    border-top: solid 2px var(--foreground-color);
  }
  a {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}