.spine {
  position: sticky;
  top: 0;
  height: 100vh;
  border-right: solid 2px var(--foreground-color);
  display: flex;
  flex-direction: column;
  &__name {
    flex: 1;
    text-align: -webkit-center;
    overflow: auto;
    h1 {
      writing-mode: vertical-lr;
      font-family: 'Söhne Wide';
      text-transform: uppercase;
      color: var(--background-color);
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: var(--foreground-color);
      font-size: 5.6rem;
      letter-spacing: 0.2rem;
      padding: 0;
      margin: 20px 0;
      white-space: nowrap;
      @media (max-width: 900px) {
        font-size: 5rem;
      }
    }
  }
}