<!DOCTYPE html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

	<!-- Primary Meta Tags -->
	<title>{{ site.title }}</title>
	<meta name="title" content="{{ site.title }}">
	<meta name="description" content="{{ site.description }}">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://opemipo.com/">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:image" content="{{ site.url }}/assets/images/thumbnail.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://opemipo.com/">
	<meta property="twitter:title" content="{{ site.title }}">
	<meta property="twitter:description" content="{{ site.description }}">
	<meta property="twitter:image" content="{{ site.url }}/assets/images/thumbnail.png">

	<link href="/css/site.css" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-69061408-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){ dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-69061408-1');
	</script>
</head>
<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
	<main>
		{% include wip.html %}
	</main>
</body>
</html>