<!DOCTYPE html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<title>{{ site.data.wuruwuru.title }}</title>
	<meta content="{{ site.data.wuruwuru.description }}" name="description">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link href="{{ site.url }}/css/site.css" rel="stylesheet">
	<link href="{{ site.url }}/css/wuruwuru.css" rel="stylesheet">
</head>
<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
	{% include wuruwuru/header.html %}
	<main>
		{% include wuruwuru/posts.html %}
	</main>
</body>
</html>