
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.data.wuruwuru.title }}</title>
  <meta name="description" content="{{ site.data.wuruwuru.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/wuruwuru.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  {% include wuruwuru/header.html %}
  <main>
    {% include wuruwuru/posts.html %}
  </main>
</body>

</html>
