<!DOCTYPE html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

	<!-- Primary Meta Tags -->
	<title>{{ site.data.wuruwuru.title }}</title>
	<meta name="title" content="{{ site.data.wuruwuru.title }}">
	<meta name="description" content="{{ site.data.wuruwuru.description }}">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://opemipo.com/">
	<meta property="og:title" content="{{ site.data.wuruwuru.title }}">
	<meta property="og:description" content="{{ site.data.wuruwuru.description }}">
	<meta property="og:image" content="assets/thumbnail.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://opemipo.com/">
	<meta property="twitter:title" content="{{ site.data.wuruwuru.title }}">
	<meta property="twitter:description" content="{{ site.data.wuruwuru.description }}">
	<meta property="twitter:image" content="assets/thumbnail.png">

	<link href="css/site.css" rel="stylesheet">
</head>
<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
	{% include wuruwuru/header.html %}
	<main>
		{% include wuruwuru/posts.html %}
	</main>
</body>
</html>