.content {
  height: 100%;
  header {
    padding: 20px;
    position: sticky;
    top: 0;
    background: var(--background-color);
  }
  &__scrollarea {
    flex: 1;
    padding: 20px;
    overflow: auto;
  }
}